@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
}

html{
    font-family: "open-snas", sans-serif;
    scroll-behavior: smooth;
    font-size: 10px;
}

a{
    text-decoration: none;
}

.row{
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
}

body{
    overflow-x: hidden;
}
