.main-body{
    max-width: 110rem;
    width : 100%;
    margin:auto;

}

@media((min-width: 481px) and (max-width: 768px)){
    .main-body{
<<<<<<< HEAD
        max-width: 42.4rem;
        margin: 0px 2.4rem;
=======
        max-width: 72rem;
        margin: 0px 2.4rem;
    }
}

@media(max-width : 480px){
    .main-body {
        max-width: 42.4rem;
        margin: 0px 2.4rem;
        padding: 0px;
>>>>>>> 8050490a83698ff6ad2145f1a6ed1bcebe4d767d
    }
}


