.main-body{
    max-width: 110rem;
    width : 100%;
    margin:auto;

}

@media((min-width: 481px) and (max-width: 768px)){
    .main-body{
        max-width: 72rem;
        margin: 0px 2.4rem;
    }
}

@media(max-width : 480px){
    .main-body {
        max-width: 42.4rem;
        margin: 0px 2.4rem;
        padding: 0px;
    }
}


